.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}
.nav-item {
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}
.dropdown-menu li {
  background: #0057a3;
  cursor: pointer;
  padding: auto;
}

.dropdown-menu li:hover {
  background: #fcb900;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
